.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.card {
  display: flex;
  flex-direction: column;
  border: 2px solid #9e5aff;
  border-radius: 2rem;
  width: 70%;
  justify-content: center;
  align-items: center;
  background-color: #fffaf0;
  gap: 1rem;
  font-family: "Poppins", Arial, sans-serif;
  padding: 0 3rem;
}

.card h1 {
  font-family: "Poppins", Arial, sans-serif;
  font-size: xx-large;
}

.card ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 1.8rem;
  border: 2px solid #9e5aff;
  border-radius: 1rem;
  padding: 1rem 1rem;
}
.card li {
  font-size: larger;
  list-style-type: none;
}
.card .id {
  font-weight: lighter;
}
.card img {
  width: 30rem;
  border: 2px solid #803be1;
  border-radius: 1rem;
}

.card p {
  text-align: justify;
  font-weight: lighter;
  font-size: small;
}
